<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %> 
<body class="">
    <%- include('./partials/nav.ejs') %> 
    <div class="section capitalize text-center md:text-left p-2 my-5 md:p-10">
        <h1 class="font-bold text-4xl md:text-5xl">welcome to ivei staff management system  project</h1>
        <p class="my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque vel voluptas excepturi recusandae modi. Earum doloremque, tenetur repudiandae porro ducimus veniam corrupti sint, quis quos accusamus recusandae est deleniti dignissimos! Minus commodi, recusandae quasi hic dicta error facilis ipsa eaque?</p>
        <div class="btn">
            <a href="/log-in" class="btn btn-green">log in as staff</a>
        </div>
    </div>
</body>
</html>